<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded"
            src="../../../assets/img/aboutus-firefly.jpg"
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="border-start border-5 border-primary ps-5 mb-5">
          <h6 class="text-primary text-uppercase">About Us</h6>
          <h1 class="display-5 text-uppercase mb-0">
            Make it greener. Make it healthier
          </h1>
        </div>
        <h4 class="text-body mb-4">
          Welcome to Bikes4All, where we are on a mission to transform the way
          you experience urban commuting.
        </h4>
        <div class="bg-light p-4">
          <ul
            class="nav nav-pills justify-content-between mb-3"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item w-50" role="presentation">
              <button
                class="nav-link text-uppercase w-100 active"
                id="pills-1-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-1"
                type="button"
                role="tab"
                aria-controls="pills-1"
                aria-selected="true"
              >
                Our Mission
              </button>
            </li>
            <li class="nav-item w-50" role="presentation">
              <button
                class="nav-link text-uppercase w-100"
                id="pills-2-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-2"
                type="button"
                role="tab"
                aria-controls="pills-2"
                aria-selected="false"
              >
                Our Vission
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-1"
              role="tabpanel"
              aria-labelledby="pills-1-tab"
            >
              <p class="mb-0">
                Our mission is to provide everyone with an opportunity for a
                healthier, more sustainable lifestyle through our innovative
                electric bikes. We are committed to redefining urban mobility,
                making it efficient, eco and user friendly, and on top of it,
                accessible to all.
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="pills-2"
              role="tabpanel"
              aria-labelledby="pills-2-tab"
            >
              <p class="mb-0">
                Our vision is to create a greener and more connected world,
                where electric bikes seamlessly integrate into daily life. We
                envision cleaner cities, reduced congestion, and empowered
                individuals choosing a sustainable mode of transportation that
                enhances their overall well-being.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
