<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style></style>
<div
  class="container-lg d-flex flex-column align-items-center mt-5"
  *ngIf="reservation; else mapSection"
>
  <!-- Display reservation details -->
  <div class="header">
    <h2>Hello, this is your current bike:</h2>
  </div>
  <div style="width: 200px" class="my-5">
    <img
      [src]="reservation.bike.tip.image_url"
      class="img-fluid rounded"
      style="clip-path: circle()"
    />
  </div>

  <div
    *ngIf="
      (remainingTime$ | async) !== '' &&
      (remainingTime$ | async) as remainingTime
    "
  >
    <h2>Remaining time:</h2>
    <div
      class="d-flex flex-row mb-3 align-items-center"
      style="justify-content: space-between"
    >
      {{ remainingTime }}
      <button class="btn btn-light" type="button" (click)="initiate_refund()">
        Cancel
      </button>
    </div>
    <div
      class="progress"
      role="progressbar"
      aria-label="Animated striped example"
      aria-valuemin="0"
      [attr.aria-valuenow]="percentage"
      aria-valuemax="100"
      style="border-radius: 20px"
    >
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        [ngStyle]="{ width: percentage + '%' }"
      ></div>
    </div>
  </div>
  <p class="mt-2">You can cancel at any time and get refunded.</p>
  <p *ngIf="loading" class="mt-1">Processing refund..</p>
  <p *ngIf="message" class="mt-1 danger">{{ message }}</p>
</div>
<ng-template #mapSection>
  <div class="container-lg d-flex flex-lg-row flex-column map-flex">
    <div class="d-flex">
      <div *ngIf="bikes.length > 0">
        <h6>Which one suits you?</h6>
        <p>Click on a marker and see informations about the bike</p>
        <p>
          <small>tip:</small> Click on the fullscreen to better view the
          locations
        </p>
      </div>
      <div *ngIf="bikes.length < 1">
        <h6 style="color: orange">
          Please be patient, it seems that there are no bikes available right
          now :(
        </h6>
      </div>
    </div>
    <div class="my-google-map d-flex">
      <google-map #map [width]="null" [height]="null" [options]="mapOptions">
        <map-marker
          #marker="mapMarker"
          *ngFor="let bike of bikes; let i = index"
          [position]="get_coords(bike)"
          (mapClick)="openInfoWindow2(marker, i)"
        >
          <map-info-window #infoWindow="mapInfoWindow">
            <div class="d-flex flex-column">
              {{ bike.tip.nume }}
              <br />
              <img
                class="img-fluid mb-4 marker-img"
                [src]="bike.tip.image_url"
                width="100%"
                max-width="200px"
              />

              <div
                class="modal-footer d-flex flex-row align-self-center justify-content-center"
              >
                <div class="modal-footer-price">
                  <h6>{{ bike.tip.price }} Lei</h6>
                </div>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="pay_this(bike.id)"
                  width="30%"
                >
                  Reserve
                </button>
              </div>
            </div>
          </map-info-window>
        </map-marker>
      </google-map>
    </div>
  </div>
</ng-template>
