<div
  class="container-sm d-flex align-items-center justify-content-center mt-3"
  style="min-height: 400px"
>
  <div class="card" style="max-width: 400px">
    <div class="card-header">
      <h6 class="card-title">What's your email address?</h6>
      <p class="mt-2">
        If your address is linked to an account, we will provide you through
        email a link to reset your password.
      </p>
    </div>
    <div class="card-body">
      <form (ngSubmit)="resetPassword()" class="d-flex flex-column">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Email"
          required
          class="mb-3 mt-3 px-2 py-1"
          style="border-radius: 10px"
        />
        <div class="mt-3 d-flex" style="justify-content: space-between">
          <button type="submit" class="btn btn-primary">reset</button>
          <a class="btn btn-dark" routerLink="/login">
            <i class="bi bi-arrow-bar-left"></i> login
          </a>
        </div>
      </form>
    </div>
    <div *ngIf="message" class="card-footer">
      <div>
        <p class="{{ text_class }}">{{ message }}</p>
      </div>
    </div>
  </div>
</div>
